*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    

}
html{
    
}
:root{
    --azulnavbar:#26466D;
    --azulbtnsair:#042243;
    --azulmenulateral:#123256;

    --cinzamaisclaro:#f7f7f7;
    --cinzaclaro:#f3f3f3;
    --cinzaclaro100:#dcdcdc;
    --cinza:#5A6978;


}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
p{
    font-size: 1rem;
}

.nav-bar{
    position: fixed;
    z-index: 1;
    padding: 0 5%;
    width: 100%;
    height: 10vh;
    background-color: var(--azulnavbar);
    display: flex;
    justify-content: space-between;

}

.logo{
    align-items: center;
    width: 120px;
}

.ul-area-btn{
    list-style: none;
    text-align: center;
    align-items: center;
    display: flex;
}

.nav-li{
    align-items: center;
    display: flex;
}

.btn-nav-exit{

    cursor: pointer;
    color: var(--cinzaclaro);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 40px;
    background-color: var(--azulbtnsair);
    
}

/* MENU LATERAL */

.sidebar{
    
    color:var(--cinzaclaro100);
    z-index: 2;
    margin-top: 10vh;
    position:fixed;
    min-height: 90vh;
    width: 20vw;
    background-color: var(--azulmenulateral);


}

nav .ul-sidebar-menu{
    background-color:var(--azulmenulateral);
    width: 100%;
    height: 100%;
    
}
nav .ul-sidebar-menu li{
    line-height: 60px;
    
}
nav .ul-sidebar-menu li a {
    position: relative;
    text-decoration: none;
    color: var(--cinzaclaro100);
    background-color: var(--azulbtnsair);
    padding-left: 40px;
    font-weight: 500;
    display: block;
    border-left:3px solid transparent;
}

nav .ul-sidebar-menu li a:hover {
    opacity: 0.7;
    background-color: var(--azulbtnsair);
    border-left:3px solid var(--cinzaclaro100);
}

nav .ul-sidebar-menu ul {
    display: block;
    position: static;
}

nav .ul-sidebar-menu ul li{
    line-height: 42px;
    border-bottom: none;
}
nav .ul-sidebar-menu ul li a{
    font-size: 15px;
    color: var(--cinzamaisclaro);
    background-color: var(--azulmenulateral);
    padding-left: 70px;
}
nav ul li a span{
    
    position:absolute;
    top: 30%;
    right:20px;
    transform: translateX(-50%);
    font-size:22px;
    transition: transform 0.4s;
}

nav ul li a:hover span{
    
    transform: translateX(-50%) rotate(-180deg);
    
}



.ul-sidebar-menu li #sub-menu {
    display: none;
    transition: 40s;
    transform: var(--cinza);
}

.ul-sidebar-menu li #sub-menu-2 {
    display: none;
    transition: 40s;
    transform: var(--cinza);
}



.perfil{
    width: 100%;
    height: 20vh;
    top: 0;
    z-index: 1;
    position:relative;
    background-color: var(--azulmenulateral);
}
.img-perfil{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    position: relative;
    width: 60px;

}

.img-perfil img{

    max-width: 100%;
}
.text-perfil{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom:0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
}
.text-perfil p{

    
    font-weight: bold;
}



/* ACABOU O MENU AQ */

/* Container */

.container{
    flex-wrap: wrap;
    padding-top: 10vh;
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    max-width:80%;
    min-height: 90vh;
    background-color: var(--cinzamaisclaro);
}

.top-section{
    
    position: relative;
    margin-top:35px;
    margin-left: 30px;
    margin-bottom: 35px;
    width: 90%;
    align-items:center;
    padding: 20px;
    display: flex;
    border-bottom: 1px solid var(--cinza);
    float: left;
    flex-direction: row;
    
    
}

.voltar{
    padding: 0px 20px;
    border-right: 1px solid var(--cinza);
}

.voltar a{
    color: var(--cinza);
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 400;
}
.voltar a span{
    margin-right: 10px;
}

.titulo-cadastrar{
    padding:0px 20px;
}

.titulo-cadastrar h2{
    color: var(--cinza);
    font-size: 1.25rem;
}

/* FORM */

/* INPUT-FILE-CUSTOM */

input[type="file"]{
    display: none;
    
} 
.h2Adicionar{
    line-height: 50px;
}
.carregar-imagem-pub{
    cursor: pointer;
    color: var(--cinzaclaro);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 40px;
    background-color: var(--azulbtnsair);
}

/* ACABOU */



.main-section{
    margin: 0 auto;
    width:70%;
    
}
.main-section .formulario .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.formulario .user-details .input-box{
    margin: 20px 0  12px 0;
    width: calc(100% / 2 - 20px);

}
.formulario .user-details .input-boxwidth30{
    margin: 20px 0  12px 0;
    width: calc(100% / 3 - 20px);

}
.user-details .input-box-width30 input{
    padding: 15px 10px;
    border-radius: 15px;
    outline: 0px;
    border: 0px;
    width: 100%;

} 
.user-details .input-box-width30 h2{
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;

} 
.formulario .user-details .input-box-width100{
    margin: 20px 0  12px 0;
    width: 100%;

}
.user-details .input-box-width100 input{
    padding: 15px 10px;
    border-radius: 15px;
    outline: 0px;
    border: 0px;
    width: 100%;

} 
.user-details .input-box-width100 h2{
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;

} 
.user-details .input-box input{

    padding: 15px 10px;
    border-radius: 15px;
    outline: 0px;
    border: 0px;
    width: 100%;
}
.user-details .input-box h2{
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;
}
.button{
    width: 100%;
}

/*.titulo-label h2{
    color: var(--cinza);
    font-size: 1.25rem;
}*/
    /*background-color: #dcdcdc;
    width: 100%;
    font-weight: 700;
    margin-top:10px;
    padding: 15px 10px;
    border-radius: 15px;
    outline: 0px;
    border: 0px;*/

/* ACABOU O FORM*/


/*  MEDIAS  */

@media (max-width:1080){

    html{
        font-size: 93.73%;
    }
    .logo{
        max-width: 93.73%;
    }

}
@media (max-width:720px){
    html{
        font-size:87.5%;
    }
    .logo{
        max-width: 87.5%;
    }
    .formulario .user-details .input-box{
        width: 100%;
    
    }
    .formulario .user-details .input-boxwidth30{
        width: 100%;
    
    }
    
    
}