@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500&family=Lato:wght@300&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: var(--azulbtnsair);
}


/* Add a thumb */

::-webkit-scrollbar-thumb {
    background-color: var(--branco);
    border-radius: 7px;
}

:root {
    --azulnavbar: #26466D;
    --azulbtnsair: #042243;
    --azulmenulateral: #123256;
    --azulumpoucosaturado: #163677;
    --azulsaturado: #0d2591;
    --cinzamaisclaro: #f7f7f7;
    --cinzaclaro: #f3f3f3;
    --cinzaclaro100: #dcdcdc;
    --cinza: #5A6978;
    --cinzaescuro: #47525E;
    --cinzafonte: #343F4B;
    --branco: #ffffff;
}

h1 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

h2 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

p {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 1rem;
}


/* TELA LOGIN */

.bg-login {
    background-color: var(--azulbtnsair);
    height: 97vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.card-login {
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--cinzamaisclaro);
    padding: 1rem;
    border-radius: 1rem;
}

.card-login .ReturnToLogin {
    text-align: left;
}

.card-login .ReturnToLogin a {
    text-decoration: none;
    color: var(--cinzaescuro);
    padding: 5px;
    font-weight: bold;
    gap: 2rem;
    margin-right: 0.5rem;
    transition: 0.3s ease;
}

.card-login .ReturnToLogin a:hover {
    opacity: 0.7;
    border-bottom: 4px solid var(--cinzaclaro100);
}

.card-login .ReturnToLogin a span {
    margin-right: 0.5rem;
}

.card-login .content-logoPaiCoruja {
    text-align: center;
}

.logo-login {
    width: 65%;
}

.label-login {
    color: var(--azulbtnsair);
    padding: 0.5rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

.input-senha,
.input-email {
    background-color: var(--branco);
    font-family: 'Poppins';
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
    color: var(--cinzaescuro);
    margin-top: 10px;
    padding: 13px 18px;
    border-radius: 10px;
    outline: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--azulmenulateral);
}

.div-titulo2 {
    padding: 0.2rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.div-titulo3 {
    padding: 0.2rem 1rem;
    text-align: center;
    justify-content: center;
}

.div-login {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
}

.cb-conectado {
    cursor: pointer;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: var(--branco);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--azulbtnsair);
}

.cb-conectado:hover {
    height: 20px;
    width: 20px;
    background-color: var(--cinzaclaro100);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--azulbtnsair);
}

.cb-conectado:checked {
    height: 20px;
    width: 20px;
    background-color: var(--azulbtnsair);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--azulbtnsair);
}

.cb-conectado:checked::after {
    content: '\2714';
    font-size: 16px;
    position: relative;
    top: -3px;
    left: 2px;
    color: var(--cinzamaisclaro);
}

.label-conectado {
    cursor: pointer;
    margin-top: -2px;
    margin-left: 10px;
    font-family: 'Poppins';
    font-weight: bold;
    color: var(--azulbtnsair);
    font-size: 1rem;
}

.btn-login {
    transition: 200ms;
    cursor: pointer;
    padding: 1rem;
    width: 30%;
    background-color: var(--azulbtnsair);
    color: var(--branco);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 0px;
}

.btn-login:active {
    background-color: #aa4452;
}

.btn-esqueci {
    transition: 200ms;
    user-select: none;
    cursor: pointer;
    padding: 1rem;
    width: 30%;
    background-color: var(--branco);
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 1rem;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
    border-color: var(--azulbtnsair);
}

.btn-esqueci a {
    text-decoration: none;
    color: var(--cinzafonte);
}

.btn-esqueci:hover,
.btn-login:hover {
    transition: 200ms;
    transform: scale(0.94);
}

.nota-copy {
    font-size: 0.6rem;
    font-weight: bold;
    color: var(--cinzaescuro);
    text-align: center;
}

.div-footer {
    background-color: var(--azulnavbar);
    height: 3vh;
}

.caixa-alerta-email {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #e08e99;
    border-style: solid;
    border-color: #aa4452;
    border-radius: 8px;
    border-width: 2px;
    display: none;
}

.caixa-alerta-senha {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #e08e99;
    border-style: solid;
    border-color: #aa4452;
    border-radius: 8px;
    border-width: 2px;
    display: none;
}

.txt-alerta-email {
    font-size: 14px;
    font-weight: bold;
}

.txt-alerta-senha {
    font-size: 14px;
    font-weight: bold;
}


/* FIM TELA LOGIN */


/* Loading Screen */


/* fim */


/* MENU LATERAL */


/* MENU MOBILE */

.nav-bar {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 0 5%;
    width: 100%;
    height: 10vh;
    background-color: var(--azulnavbar);
    flex-direction: row-reverse;
    justify-content: space-between;
}

.logo-img {
    align-items: center;
    width: 120px;
}

.ul-area-btn {
    list-style: none;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 30px;
}

.nav-li {
    align-items: center;
    display: flex;
}

.btn-nav-exit {
    cursor: pointer;
    font-family: 'Poppins';
    text-decoration: none;
    background-color: transparent;
    border-radius: 15px;
    font-weight: bold;
    color: var(--cinza);
    border: 3px solid var(--cinza);
    padding: 10px 40px;
    transition: 0.7s;
    transform: translateY(10px);
}

.btn-nav-exit:hover {
    background-color: var(--azulbtnsair);
    color: var(--cinzamaisclaro);
    transform: translateY(0px);
}


/* MENU PC */

.sidebar {
    height: 100vh;
    width: 240px;
    background: var(--azulumpoucosaturado);
    padding: 6px 14px;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar .logo-content {
    margin-bottom: 40px;
}

.sidebar .logo-content i {
    font-size: 28px;
    font-weight: 400;
}

.logo-content .logo {
    color: var(--cinzamaisclaro);
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.logo-content .logo .logo-name a img {
    width: 120px;
    font-size: 20px;
    font-weight: 400;
}

.close-mobile-navbar {
    display: none;
}

.sidebar #menu-btn {
    color: var(--cinzamaisclaro);
    position: fixed;
    left: 90%;
    top: 6px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.sidebar ul hr {
    border: 1px solid #9aa9b1;
}

.menu-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-color: #9da9b6;
    border-width: 1px;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a {
    margin: 0.3rem;
    padding: 1rem;
    border-radius: 15px;
    color: var(--cinzaclaro100);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

.sidebar ul li .active-nav {
    border-radius: 15px;
    color: var(--branco);
    background-color: var(--azulbtnsair);
    font-weight: bold;
    transition: 200ms;
}

.sidebar ul li a:hover {
    border-radius: 15px;
    color: var(--cinzafonte);
    background-color: var(--cinzamaisclaro);
    font-weight: bold;
    transition: 200ms;
}

.sidebar ul li a span {
    margin-left: 2.5rem;
    font-size: 12px;
    line-height: 15px;
}

.sidebar ul li a i {
    width: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
}

.sidebar .profile-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 235px;
}

.sidebar .profile-content .profile {
    position: relative;
    padding: 10px 14px;
    height: 60px;
    background: var(--cinzamaisclaro);
}

.profile-content .profile {
    color: var(--cinzafonte);
    margin: 1rem;
    border-radius: 15px;
}

.profile-content .profile .profile-details {
    background-color: var(--cinzamaisclaro);
    display: flex;
    align-items: center;
}

.profile .profile-details img {
    box-shadow: 0rem 0.5rem 2rem #9aa9b1;
    background-color: #042243;
    border-style: solid;
    border-width: 3px;
    border-color: var(--cinza);
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 20px;
}

.profile .profile-details .name-job {
    margin-left: 10px;
}

.profile .profile-details .name-menu {
    font-size: 15px;
    font-weight: bold;
}

.profile .profile-details .job-menu {
    font-size: 10px;
    font-weight: 400;
}

.profile-content .profile-menu{
    transform:translateY(100px);
    margin: -0.6rem 1rem ;
    display: flex;
    padding: 0;
    border-radius: 1rem;
    height: 0;
    background-color: var(--cinzamaisclaro);
    flex-direction: column;
    font-size: 13px;
    opacity: 0;
    pointer-events: none;
    transition:  200ms ease-out;

}

.profile-content:hover .profile-menu{
    margin: 0rem 1rem ;
    padding: 1rem;
    height: auto;
    transition: 500ms cubic-bezier(0.96, -0.54, 2.9, 3.27);
    display: flex;
    opacity: 1;
    pointer-events:all;
    transform:translateY(10px);
}

.profile-menu a {
    text-decoration: none;
    margin: 0.1rem;
    padding: 0.5rem 1.0rem;
    color: var(--cinzafonte);
    transition: 200ms;
}

.profile-menu a:hover {
    text-decoration: none;
    border-radius: 3.5rem;
    margin: 0.1rem;
    padding: 0.5rem 1rem;
    color: var(--branco);
    background-color: var(--azulnavbar);
    transition: 200ms;
}

.profile-menu a span {
    width: 100%;
}

.profile-logout a i:hover {
    transition: 200ms;
    transform: scale(0.9);
    color: var(--cinza);
}


/* ACABOU O MENU AQ */


/* Container */

.container-main {
    color: var(--cinzafonte);
    flex-wrap: wrap;
    /* padding-top: 10vh; */
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    min-height: 100vh;
    background-color: var(--cinzamaisclaro);
}

.top-section {
    position: relative;
    margin-top: 0px;
    padding-left: 30px;
    margin-bottom: 35px;
    width: 100%;
    align-items: center;
    padding: 20px;
    display: flex;
    background-color: var(--cinzamaisclaro);
    float: left;
    flex-direction: row;
}

.voltar {
    padding: 0px 5px;
}

.voltar a {
    color: var(--cinza);
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 400;
}

.voltar a span {
    margin-right: 10px;
    transition: 0.7s ease;
}

.voltar a:hover span {
    transform: translateX(-20%);
}

.titulo-cadastrar {
    padding: 0px 20px;
}

.titulo-cadastrar h2 {
    color: var(--cinza);
    font-size: 1.5rem;
}


/* HOME */

.destaque-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 340px !important;
    padding: 2rem;
}

.destaque-card:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 340px !important;
    padding: 2rem;
    color: var(--cinzafonte);
    background-color: var(--cinzaclaro);
}

.destaque-card:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 340px !important;
    padding: 2rem;
    color: var(--cinzaclaro);
    background-color: var(--azulnavbar);
}

.destaque-card:nth-child(3) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 340px !important;
    padding: 2rem;
    color: var(--cinzafonte);
    background-color: var(--cinzaclaro100);
}

.esquerda-destaque {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.esquerda-destaque h1 {
    font-weight: bold;
    font-size: 3rem;
}

.destaque-card h1,
small:first-child {
    margin-bottom: 1rem;
}

.saiba-mais-btn {
    font-family: 'Poppins';
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    padding: 0.5rem 2.5rem;
    font-weight: bold;
    border-radius: 20px;
    color: var(--cinzamaisclaro);
    background-color: var(--azulnavbar);
}

.cards-eventos {
    overflow: hidden;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 0;
    color: var(--cinzafonte);
    width: 100%;
    /*tirar isso aq pros cars ficarem do tamanho certo*/
}

.arrumar-cards {
    display: flex;
    flex-direction: row;
}

.evento-card {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    background-color: #137AB1;
    color: var(--branco);
    border-radius: 15px;
    height: 200px !important;
    width: 300px !important;
    min-width: 260px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.evento-card:nth-child(1) {
    background-color: #137AB1;
}

.evento-card:nth-child(2) {
    background-color: #1d1d1d;
}

.evento-card:nth-child(3) {
    background-color: orange;
}

.evento-card:nth-child(4) {
    background-color: pink;
}

.evento-card:nth-child(5) {
    background-color: var(--cinzaescuro);
}

.evento-card div:last-child button {
    color: var(--cinzafonte);
    padding: 0.3rem;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}


/* CAROUSEL */


/*Carousel Destaque */

.carousel {
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
}

.carousel-destaque {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.carousel-destaque-prev {
    position: absolute;
    z-index: 1;
    padding: 20px;
    cursor: pointer;
    left: 0%;
    top: 30%;
    font-size: 3rem;
    padding: 20px;
    background-color: transparent;
    transform: translateX(0%);
    transition: 0.7s ease;
    opacity: 0.4;
}

.carousel-destaque-prev:hover {
    opacity: 1;
    transform: translateX(-10%);
}

.carousel-destaque-next {
    z-index: 1;
    opacity: 0.4;
    padding: 20px;
    cursor: pointer;
    right: 0%;
    top: 30%;
    position: absolute;
    font-size: 3rem;
    padding: 20px;
    background-color: transparent;
    transform: translateX(-10%);
    transition: 0.7s ease;
}

.carousel-destaque-next:hover {
    transform: translateX(0%);
    opacity: 1;
}


/* FIM */


/* Carousel Eventos */

.carousel-evento {
    position: relative;
    border: 0;
}

.carousel-evento-prev {
    position: absolute;
    z-index: 1;
    border-radius: 150px;
    padding: 20px;
    cursor: pointer;
    left: 0%;
    top: 70%;
    font-size: 2.8rem;
    padding: 20px;
    background-color: #5A6978;
    transform: translateX(0%);
    transition: 0.7s ease;
    opacity: 0.4;
}

.carousel-evento-prev:hover {
    opacity: 1;
    transform: translateX(-10%);
}

.carousel-evento-next {
    border-radius: 150px;
    position: absolute;
    z-index: 1;
    opacity: 0.4;
    padding: 20px;
    cursor: pointer;
    right: 0%;
    top: 70%;
    position: absolute;
    font-size: 2.8rem;
    padding: 20px;
    background-color: #5A6978;
    transform: translateX(-10%);
    transition: 0.7s ease;
}

.carousel-evento-next:hover {
    transform: translateX(0%);
    opacity: 1;
}


/* ACABOU */


/* FORM */

.area-cadastro {
    background-color: #dce8f1;
}


/* INPUT-FILE-CUSTOM */

input[type="file"] {
    display: none;
}

.h2Adicionar {
    line-height: 50px;
}

.carregar-imagem-pub {
    cursor: pointer;
    color: var(--cinzaclaro);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 40px;
    background-color: var(--azulbtnsair);
}


/* ACABOU */

.main-section {
    margin: 0 auto;
    width: 80%;
}

.formulario {
    width: 100%;
    padding: 30px;
    border-radius: 18px;
    background-color: var(--cinzamaisclaro);
}

.main-section .formulario .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulario .user-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.formulario .user-details .input-boxwidth30 {
    margin: 20px 0 12px 0;
    width: calc(100% / 3 - 20px);
}

.user-details .input-box-width30 input {
    padding: 15px 10px;
    font-family: 'Poppins';
    border-radius: 18px;
    background-color: var(--cinzamaisclaro);
    outline: 0px;
    border: 1px solid var(--cinzaclaro100);
    width: 100%;
}

.user-details .input-box-width30 h2 {
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.formulario .user-details .input-box-width100 {
    margin: 20px 0 12px 0;
    width: 100%;
}

.user-details .input-box-width100 input {
    padding: 15px 10px;
    font-family: 'Poppins';
    border-radius: 18px;
    background-color: var(--cinzamaisclaro);
    outline: 0px;
    border: 1px solid var(--cinzaclaro100);
    width: 100%;
}

.user-details .input-box-width100 .text-area {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 35px;
    border-radius: 15px;
    font-family: 'Poppins';
    border-radius: 18px;
    background-color: var(--cinzamaisclaro);
    outline: 0px;
    border: 1px solid var(--cinzaclaro100);
    width: 100%;
}

.user-details .input-box-width100 h2 {
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.user-details .input-box input {
    padding: 15px 10px;
    font-family: 'Poppins';
    border-radius: 18px;
    background-color: var(--cinzamaisclaro);
    outline: 0px;
    border: 1px solid var(--cinzaclaro100);
    width: 100%;
}

.user-details .input-box h2 {
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.opcao-consulta {
    padding: 6px;
    background-color: var(--branco);
    border-bottom-style: solid;
    border-bottom-color: var(--cinza);
    border-bottom-width: 1px;
}

.opcao-consulta2 {
    padding: 6px;
    background-color: var(--branco);
    border-bottom-style: solid;
    border-bottom-color: var(--cinza);
    border-bottom-width: 1px;
}

.link-consulta {
    text-decoration: none;
    color: var(--cinza);
    font-weight: bold;
}

.opcao-consulta:hover .link-consulta {
    background-color: var(--cinzaclaro);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.texto-consulta {
    text-decoration: none;
    color: var(--cinza);
    font-weight: bold;
}

.erro-form {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: brown !important;
    color: brown;
}

.label-erro {
    color: brown;
    font-size: 14px;
    display: none;
}


/* AREA-EXIBIR CONSULTAS DO BANCO */

.container-controlers {
    width: 80%;
    margin: 2% auto;
    justify-content: center;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-card-link1 {
    background-color: var(--azulumpoucosaturado);
    border-radius: 18px;
    padding: 30px;
    color: var(--cinzaclaro);
    text-align: center;
    min-width: calc(90%/2);
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: 0.7s;
}

.content-card-link1:hover .btn-ver-dados-tabela {
    color: var(--azulumpoucosaturado);
}

.content-card-link1 .side-left h1 {
    font-size: 4rem;
}

.content-card-link1:hover {
    background-color: var(--cinzamaisclaro);
    color: var(--cinza);
    transform: translateY(5%);
}

.content-card-link2 {
    background-color: var(--cinzamaisclaro);
    padding: 30px;
    color: var(--cinza);
    text-decoration: none;
    border-radius: 18px;
    min-width: calc(90%/2);
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: 0.7s;
}

.content-card-link2 .side-left h1 {
    font-size: 5rem;
}

.btn-ver-dados-tabela {
    border: 0;
    cursor: pointer;
    background: transparent;
    font-size: 5rem;
    color: var(--cinzamaisclaro);
}

.btn-adicionar-aluno {
    border: 0;
    cursor: pointer;
    background: transparent;
    font-size: 5rem;
    color: var(--cinza);
}

.content-card-link2:hover {
    background-color: var(--cinzamaisclaro);
    color: var(--cinza);
    transform: translateY(5%);
}


/* ACABO */


/* Exibir Consulta */

.container-exibir-dados {
    width: 80%;
    min-height: 50vh;
    margin: 0 auto;
    background: var(--cinzamaisclaro);
    padding: 30px;
    border-radius: 18px;
    flex-direction: column;
    display: none;
    opacity: 0;
    transform: translateY(-30%);
    transition: 0.3s ease;
}

.container-exibir-dados::before {
    opacity: 0.5;
}

.container-exibir-dados::after {
    opacity: 1;
}

.box-titulo-bar-search {
    width: 100%;
    align-items: center;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.box-titulo-bar-search h1 {
    font-size: 1.5rem;
    color: var(--cinzafonte);
}

.box-search {
    padding: 10px;
    border-radius: 18px;
    background-color: var(--branco);
}

.box-search input[type=text] {
    outline: none;
    border: none;
    color: var(--cinzafonte);
    background-color: transparent;
}

.btn-search {
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.table-dados {
    width: 100%;
    overflow-x: auto;
}

.table-dados table {
    border-collapse: collapse;
    width: 100%;
}

.table-dados table thead tr {
    border-top: 1px solid var(--cinzaclaro100);
    border-bottom: 1px solid var(--cinzaclaro100);
}

.table-dados thead td {
    font-weight: 700;
}

.table-dados td {
    font-size: .9rem;
    padding: .5rem;
}


/* ACabo */


/* ACABOU O FORM*/


/* NAV FOOTER */

@media (max-width:720px) {
    .nav-footer {
        position: fixed;
        z-index: 10;
        bottom: 0px;
        height: 70px;
        width: 100vw;
        background: var(--branco);
    }
    .nav-footer ul {
        border-top-color: var(--cinza);
        border-top-width: 1px;
        border-top-style: solid;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .nav-footer ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
    }
    .nav-footer ul li .links-name {
        /* display: none; */
    }
    .nav-footer ul li a {
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: var(--azulnavbar);
        text-decoration: none;
        font-weight: 700;
    }
    .nav-footer ul .active a {
        padding: 15px;
        border-radius: 15px;
        display: flex;
        background: var(--azulnavbar);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: var(--cinzamaisclaro);
        text-decoration: none;
        font-weight: 700;
    }
}


/*  MEDIAS  */

@media (max-width:1080px) {
    html {
        font-size: 93.73%;
    }
    .logo-img {
        max-width: 93.73%;
    }
}

@media (max-width:973px) {
    .content-card-link1 {
        min-width: 100%;
    }
    .content-card-link2 {
        min-width: 100%;
    }
}

@media (max-width:720px) {
    html {
        font-size: 87.5%;
    }
    .logo-img {
        max-width: 87.5%;
    }
    .formulario .user-details .input-box {
        width: 100%;
    }
    .formulario .user-details .input-boxwidth30 {
        width: 100%;
    }
    .content-card-link2 {
        min-width: 100%;
    }
}

@media (min-width:720px) {
    .sidebar {
        display: block !important;
    }
}

@media (max-width:720px) {
    .nav-bar {
        display: flex;
    }
    .nav-bar a {
        display: flex;
        align-items: center;
    }
    .sidebar {
        display: none;
        z-index: 100000;
    }
    .sidebar ul {
        margin-top: 10px;
    }
    .container-main {
        padding-top: 10vh;
        margin-left: 0px;
    }
    .nav-open.active {
        display: block;
        transform: translateX(0);
    }
    .logo-content .logo {
        color: var(--cinzamaisclaro);
        display: block;
        height: 50px;
        width: 100%;
        font-size: 30px;
        font-weight: 400;
    }
    .logo-name {
        display: none;
    }
    .close-mobile-navbar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 15px;
        color: var(--cinzamaisclaro);
    }
    .btn-nav-open {
        margin-left: 10px;
        color: var(--cinzamaisclaro);
        transition: 200ms;
        cursor: pointer;
        user-select: none;
    }
    .btn-nav-open:hover {
        transform: scale(0.9);
        color: var(--cinzamaisclaro);
        transition: 200ms;
        cursor: pointer;
        user-select: none;
    }
    .btn-nav-close {
        display: block;
        transition: 200ms;
        cursor: pointer;
        user-select: none;
    }
    .btn-nav-close:hover {
        transition: 200ms;
        cursor: pointer;
        user-select: none;
        color: #aa4452;
    }
}

@media (max-width:550px) {
    .card-login {
        width: 90vw;
    }
    html {
        font-size: 80%;
    }
    .main-section {
        margin: 0 auto;
        width: 100%;
    }
    .top-section {
        margin-bottom: 10px;
    }
    .content-card-link1 {
        min-width: 100%;
    }
    .content-card-link2 {
        min-width: 100%;
    }
    .container-controlers {
        width: 100%;
        gap: 0;
    }
    .container-exibir-dados {
        width: 100%;
    }
    .box-search {
        width: 100%;
    }
}