@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;400;500&family=Lato:wght@300&family=Roboto:wght@100;300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: var(--azulbtnsair);
}


/* Add a thumb */

::-webkit-scrollbar-thumb {
    background-color: var(--branco);
    border-radius: 7px;
}

:root {
    --azulnavbar: #26466D;
    --azulbtnsair: #042243;
    --azulmenulateral: #123256;
    --cinzamaisclaro: #f7f7f7;
    --cinzaclaro: #f3f3f3;
    --cinzaclaro100: #dcdcdc;
    --cinza: #5A6978;
    --cinzaescuro: #47525E;
    --cinzafonte: #343F4B;
    --branco: #ffffff;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}


/* TELA LOGIN */

.bg-login {
    background-color: var(--azulbtnsair);
    height: 97vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.card-login {
    /* display: none; */
    width: 500px;
    /*height: 550px;*/
    /* height: 70%; */
    margin-left: auto;
    margin-right: auto;
    background-color: var(--cinzamaisclaro);
    padding: 20px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
.card-login .ReturnToLogin{
    text-align: left;
    
}
.card-login .ReturnToLogin a{
    text-decoration: none;
    color: var(--cinzaescuro);
    padding: 5px;
    font-weight: bold;
    gap:2rem;
    
    margin-right: 0.5rem;
    transition: 0.3s ease;
    
}
.card-login .ReturnToLogin a:hover{
    opacity: 0.7;
    border-bottom: 4px solid var(--cinzaclaro100);
    
}
.card-login .ReturnToLogin a span{
    margin-right: 0.5rem;
    
}

.card-login .content-logoPaiCoruja {
    text-align: center;
}

.logo-login {
    width: 70%;
}

.label-login {
    padding: 1rem;
    font-family: 'Fira Sans';
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--azulbtnsair);
}

.input-senha,
.input-email {
    background-color: var(--branco);
    font-family: 'Roboto';
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
    color: var(--cinzaescuro);
    margin-top: 10px;
    padding: 13px 18px;
    border-radius: 10px;
    outline: 0px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--azulmenulateral);
}

.div-titulo2 {
    padding: 0.2rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.div-login {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.cb-conectado {
    cursor: pointer;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: var(--branco);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--azulbtnsair);
}

.cb-conectado:hover {
    height: 20px;
    width: 20px;
    background-color: var(--cinzaclaro100);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--azulbtnsair);
}

.cb-conectado:checked {
    height: 20px;
    width: 20px;
    background-color: var(--azulbtnsair);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--azulbtnsair);
}

.cb-conectado:checked::after {
    content: '\2714';
    font-size: 18px;
    position: relative;
    top: -3px;
    left: 1px;
    color: var(--cinzamaisclaro);
}

.label-conectado {
    margin-top: 2px;
    margin-left: 10px;
    font-family: 'Roboto';
    font-weight: bold;
    color: var(--azulbtnsair);
    font-size: 1rem;
}

.btn-login {
    cursor: pointer;
    padding: 1rem;
    width: 30%;
    background-color: var(--azulbtnsair);
    color: var(--branco);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 0px;
}

.btn-login:active {
    background-color: #aa4452;
}

.btn-esqueci {
    cursor: pointer;
    padding: 1rem;
    width: 30%;
    background-color: var(--branco);
    color: var(--azulbtnsair);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 1px;
    border-color: var(--azulbtnsair);
}

.nota-copy {
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--cinzaescuro);
    text-align: center;
    font-family: 'Lato';
}

.div-footer {
    background-color: var(--azulnavbar);
    height: 3vh;
}

.caixa-alerta-email {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #e08e99;
    border-style: solid;
    border-color: #aa4452;
    border-radius: 8px;
    border-width: 2px;
    display: none;
}

.caixa-alerta-senha {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #e08e99;
    border-style: solid;
    border-color: #aa4452;
    border-radius: 8px;
    border-width: 2px;
    display: none;
}

.txt-alerta-email {
    font-size: 14px;
    font-weight: bold;
}

.txt-alerta-senha {
    font-size: 14px;
    font-weight: bold;
}


/* FIM TELA LOGIN */


/* MENU LATERAL */


/* MENU MOBILE */

.nav-bar {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 0 5%;
    width: 100%;
    height: 10vh;
    background-color: var(--azulnavbar);
    flex-direction: row-reverse;
    justify-content: space-between;
}

.logo-img {
    align-items: center;
    width: 120px;
}

.ul-area-btn {
    list-style: none;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 30px;
}

.nav-li {
    align-items: center;
    display: flex;
}

.btn-nav-exit {
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 40px;
}


/* MENU PC */

.sidebar {
    height: 100vh;
    width: 240px;
    background: #042243;
   
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.active-nav {
    display: block
}

.sidebar .logo-content i {
    font-size: 28px;
    font-weight: 400;
}

.logo-content .logo {
    color: var(--cinzamaisclaro);
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.logo-content .logo .logo-name a img {
    width: 120px;
    font-size: 20px;
    font-weight: 400;
}

.close-mobile-navbar {
    display: none;
}

.sidebar #menu-btn {
    color: var(--cinzamaisclaro);
    position: fixed;
    left: 90%;
    top: 6px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul {
    padding: 6px 14px;
    /* margin-top: 30px; */
    /* margin-bottom: 60px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    /* margin: 0 5px; */
    list-style: none;
    list-style: none;
    line-height: 50px;
}

.sidebar ul li a {
    border-radius: 15px;
    color: var(--cinzamaisclaro);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

.sidebar ul li a span {
    font-size: 12px;
    line-height: 15px;
}

#sub-menu-button,
#sub-menu-button-2 {
    user-select: none;
    cursor: pointer;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-drop-opened {
    background-color: var(--azulmenulateral);
    border-radius: 15px 15px 0px 0px;
}

.dropdown-icon {
    transform: rotateY(-50);
}

.sidebar ul li a:hover {
    border-radius: 15px;
    color: var(--cinzafonte);
    background-color: var(--cinzamaisclaro);
    font-weight: bold;
    transition: 200ms;
}

.sidebar ul li a i,
.drop-link i {
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    border-radius: 12px;
    text-align: center;
}

.drop-menu {
    display: none;
    padding: 15px 0;
    border-radius: 5px 5px 15px 15px;
    position: relative;
    background: #123256;
    margin: 5px 5px 7px 5px;
}

.drop-link {
    padding: 0 15px;
    color: var(--cinzamaisclaro);
}

.opened-drop {
    border-radius: 15px 15px 0 0;
    background-color: var(--azulnavbar);
    color: var(--azulbtnsair);
}

.user-details-menu{
    position: absolute;
    bottom: 0;
    width: 200px;
    background-color: var(--azulmenulateral);
    color: var(--branco);
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
}

.user-details-menu p{
    font-size: 12px;
}
.user-details-menu h5{
    margin-top: 5px;
}

/* MOBILE PERFIL */

.profile-content{
    display: none;
}

.sidebar .profile-content .profile{
    color: var(--cinzamaisclaro);
    background-color: var(--azulmenulateral);
    height: 10vh;
}


.profile-content .profile .profile-img {
    display: flex;
    justify-content: center;
}

.profile .profile-img img {
    position: absolute;
    top: 3vh;
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.profile-content .profile-details{
    margin-top: 45px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.profile-content .profile-details .name-menu{
    color: var(--cinzamaisclaro);
    font-weight: 700;
    font-size: 20px;
}

.profile-content .profile-details .job-menu{
    color: var(--cinzamaisclaro);
    /* font-weight: 700; */
}

.profile-buttons{
    margin-top: 10px;
    font-size: 25px;
    text-decoration: none;
}

.profile #logout-user {
    min-width: 50px;
    line-height: 50px;
    
    border-radius: 12px;
}

.profile-logout a {
    margin: 10px;
    color: var(--cinzamaisclaro);
    transition: 200ms;
    text-decoration: none;
}



.profile-logout a i:hover {
    transition: 200ms;
    transform: scale(0.9);
    color: var(--cinza);
}


/* ACABOU O MENU AQ */


/* Container */

.container-main {
    color: var(--cinzafonte);
    flex-wrap: wrap;
    /* padding-top: 10vh; */
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    min-height: 100vh;
    background-color: var(--cinzamaisclaro);
}

.top-section {
    position: relative;
    margin-top: 35px;
    margin-left: 30px;
    margin-bottom: 35px;
    width: 90%;
    align-items: center;
    padding: 20px;
    display: flex;
    border-bottom: 1px solid var(--cinza);
    float: left;
    flex-direction: row;
}

.voltar {
    padding: 0px 20px;
    border-right: 1px solid var(--cinza);
}

.voltar a {
    color: var(--cinza);
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 400;
}

.voltar a span {
    margin-right: 10px;
}

.titulo-cadastrar {
    padding: 0px 20px;
}

.titulo-cadastrar h2 {
    color: var(--cinza);
    font-size: 1.25rem;
}


/* HOME */

.destaque-card {
    display: flex;
    width: 100%;
    height: 340px;
    padding: 2rem;
    color: var(--cinzamaisclaro);
    background-color: var(--azulbtnsair);
}

.esquerda-destaque {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.destaque-card h1,
small:first-child {
    margin-bottom: 1rem;
}

.saiba-mais-btn {
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    padding: 0.5rem 2.5rem;
    font-weight: bold;
    border-radius: 15px;
    color: var(--cinzafonte);
    background-color: var(--cinzamaisclaro);
}

.cards-eventos {
    overflow: hidden;
    padding: 2rem;
    color: var(--cinzafonte);
    width: 100%;
    /*tirar isso aq pros cars ficarem do tamanho certo*/
}

.arrumar-cards {
    display: flex;
    flex-direction: row;
}

.evento-card {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    background-color: #137AB1;
    color: var(--branco);
    border-radius: 15px;
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.evento-card div:last-child button {
    color: var(--cinzafonte);
    padding: 0.3rem;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}

/* NAV FOOTER */

@media (max-width:720px) {
    .nav-footer{
        position: fixed;
        z-index: 10;
        bottom: 0px;
        height: 70px;
        width: 100vw;
        background: var(--branco);
    }
    
    .nav-footer ul{
        border-top-color: var(--cinza);
        border-top-width: 1px;
        border-top-style: solid;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .nav-footer ul li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
    }
    .nav-footer ul li .links-name{
        /* display: none; */
    }
    .nav-footer ul li a{
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: var(--azulbtnsair);
        text-decoration: none;
        font-weight: 700;
    }

    .nav-footer ul .active a{
        padding: 15px;
        border-radius: 15px;
        display: flex;
        background: var(--azulbtnsair);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: var(--cinzamaisclaro);
        text-decoration: none;
        font-weight: 700;
    }

    .nav-footer ul a:hover{
        color: var(--azulnavbar);
    }

    .nav-footer ul .active a{
        color: var(--branco);
    }
    
}



/* FORM */


/* INPUT-FILE-CUSTOM */

input[type="file"] {
    display: none;
}

.h2Adicionar {
    line-height: 50px;
}

.carregar-imagem-pub {
    cursor: pointer;
    color: var(--cinzaclaro);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 40px;
    background-color: var(--azulbtnsair);
}


/* ACABOU */

.main-section {
    margin: 0 auto;
    width: 70%;
}

.main-section .formulario .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulario .user-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.formulario .user-details .input-boxwidth30 {
    margin: 20px 0 12px 0;
    width: calc(100% / 3 - 20px);
}

.user-details .input-box-width30 input {
    padding: 15px 10px;
    border-radius: 15px;
    outline: 0px;
    border: 0px;
    width: 100%;
}

.user-details .input-box-width30 h2 {
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.formulario .user-details .input-box-width100 {
    margin: 20px 0 12px 0;
    width: 100%;
}

.user-details .input-box-width100 input {
    padding: 15px 10px;
    border-radius: 15px;
    outline: 0px;
    border: 0px;
    width: 100%;
}

.user-details .input-box-width100 .text-area {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 35px;
    border-radius: 15px;
    outline: 0px;
    border: 0px;
    width: 100%;
}

.user-details .input-box-width100 h2 {
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.user-details .input-box input {
    padding: 15px 10px;
    border-radius: 15px;
    outline: 0px;
    border: 0px;
    width: 100%;
}

.user-details .input-box h2 {
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
    width: 100%;
}

.opcao-consulta {
    padding: 6px;
    background-color: var(--branco);
    border-bottom-style: solid;
    border-bottom-color: var(--cinza);
    border-bottom-width: 1px;
}

.opcao-consulta2 {
    padding: 6px;
    background-color: var(--branco);
    border-bottom-style: solid;
    border-bottom-color: var(--cinza);
    border-bottom-width: 1px;
}

.link-consulta {
    text-decoration: none;
    color: var(--cinza);
    font-weight: bold;
}

.opcao-consulta:hover .link-consulta {
    background-color: var(--cinzaclaro);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.texto-consulta {
    text-decoration: none;
    color: var(--cinza);
    font-weight: bold;
}

.erro-form {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: brown !important;
    color: brown;
}

.label-erro {
    color: brown;
    font-size: 14px;
    display: none;
    margin-bottom: 500px;
}


/* ACABOU O FORM*/


/*  MEDIAS  */

@media (max-width:550px) {
    .card-login {
        width: 90vw;
    }
}

@media (max-width:1080) {
    html {
        font-size: 93.73%;
    }
    .logo-img {
        max-width: 93.73%;
    }
}

@media (max-width:720px) {
    html {
        font-size: 87.5%;
    }
    .logo-img {
        max-width: 87.5%;
    }
    .formulario .user-details .input-box {
        width: 100%;
    }
    .formulario .user-details .input-boxwidth30 {
        width: 100%;
    }
}

@media (min-width:720px) {
    .sidebar {
        display: block !important;
    }
}

@media (max-width:720px) {
    .nav-bar {
        display: flex;
    }
    .nav-bar a {
        display: flex;
        align-items: center;
    }
    .sidebar {
        display: none;
        z-index: 100000;
    }
    .sidebar ul {
        margin-top: 10px;
    }
    .container-main {
        padding-top: 10vh;
        margin-left: 0px;
    }
    .nav-open.active {
        display: block;
        transform: translateX(0);
    }
    .logo-content .logo {
        color: var(--cinzamaisclaro);
        display: block;
        height: 50px;
        width: 100%;
        font-size: 30px;
        font-weight: 400;
    }
    .logo-name {
        display: none;
    }
    .close-mobile-navbar {
        display: block;
        position:absolute;
        left: 80%;
        top: 3vh;
        font-size: 25px;
        color: var(--cinzamaisclaro);
    }
    .btn-nav-open {
        margin-left: 10px;
        color: var(--cinzamaisclaro);
        transition: 200ms;
        cursor: pointer;
        user-select: none;
    }
    .btn-nav-open:hover {
        transform: scale(0.9);
        color: var(--cinzamaisclaro);
        transition: 200ms;
        cursor: pointer;
        user-select: none;
    }
    .btn-nav-close {
        transition: 200ms;
        cursor: pointer;
        user-select: none;
    }
    .btn-nav-close:hover {
        transition: 200ms;
        cursor: pointer;
        user-select: none;
        color: #aa4452;
    }

    .profile-content{
        display: block;
    }

    .web-pc{
        display: none !important;
    }
}