.ola-nav-dash{
    /* background-color: var(--cinzaclaro); */
    width: 100%;
    
}

body{
    background-color: var(--cinzaBackground);
}


.container-dash{
    color: var(--cinzafonte);
    
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    background-color: var(--cinzaBackground);
    /* background-image: url(../../../img/background.png); */
    transition: 200ms ease;
    /* background-position: center top; */
    background-size: 100% 100%;
    padding: 15vh 2rem 0 2rem;
    
    height: 100vh;
    gap: 1rem;
}

.alterar-section-dash{
    background-color: var(--cinzamaisclaro);
    border-radius: 1rem;
    padding: 1rem;
    gap: 1rem;
}

.container-dados-dash{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}


.acesso-rapido-dash,.msg-chat-dash{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--cinzamaisclaro);
    padding: 1rem;
    border-radius: 1rem;
    gap: 1rem;
    width: auto;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.063);

    
}
.acesso-rapido-dash{
    flex:0 0 auto;
}

.acesso-rapido-dash div{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.acesso-dash-btns button{
    background-color: var(--azulnavbar);
    color: var(--cinzamaisclaro);
    padding: 0.3rem 1.2rem;
    border: none;
    border-radius: 3rem;
    font-weight: bolder;
    cursor: pointer;
    width: auto;
    flex:1 0 auto;
}

.dados-escolares-dash{
    background-color: transparent;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.msg-chat-dash{
    
    width:max-content;
    flex:1 0 auto;
}


.dados-escolares-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

.dados-escolares-container .dados-escolares-linha{
    display: flex;
    justify-content: space-between;
    gap:0.5rem;
} 

.dado-escolar{
    padding: 1rem;

    border-radius: 1rem;
    border-top: solid;
    border-top-width: 5px var(--azulnavbar);
    background-color: var(--cinzamaisclaro);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.063);

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    width: 220px;
    height: 76PX;
}

.dado-escolar i{
    font-size: 2rem;
}

.dado-escolar h5{
    font-size: 0.6rem;
    line-height: 0.8rem;
    color: var(--cinza);
}


.msg-chat-dash{
  width: auto;
}



/* GRAFICO DASH */

.grafico-container-dash{
    padding: 1rem;
    border-radius: 1rem;
    background: var(--cinzamaisclaro);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.063);

}

#grafico{
    position: relative;
     height:70vh;
      width:40vw;
      
      margin: 0 auto;
      
}

.grafico{
    position: relative;
     height:auto;
      width:100%;
      
      margin: 0 auto;
      
}


/* Cadastrar Dados */
.container-dados-cadastro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.3rem;
    flex-wrap: wrap;
}

.abas-container{
    /* background-color: var(--branco); */
    padding: 0 1rem;
    display: flex;
    justify-content:space-between;
    gap: 0.5rem;
}

.forms-cadastro{
    width: 100%;
    background-color: var(--branco);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.abas-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: aqua; */
}

.aba-cadastro{
    border: none;
    background-color: var(--cinzamaisclaro);
    color: var(--cinzafonte);
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    font-weight: bold;
    transition: 300ms;
    flex:1 0 auto;
}

.aba-cadastro:hover{
    background-color: var(--azulnavbar);
    color: var(--cinzamaisclaro);
    transition: 300ms;
    cursor: pointer;
}

.aba-cadastro-active{
    background-color: var(--azulbtnsair);
    color: var(--cinzamaisclaro);
}

.conteudo-aba{
    display: none;
}



@media (max-width:720px) {
    .acesso-rapido-dash{
        flex:1 0 auto;
    }
    #grafico{
        position: relative;
         height:70vh;
          width:100vw;
          
          margin: 0 auto;
          
    }
}