.container-observacao-do-professor{
    width: 100%;
    border-radius: 10px;
    background-color: var(--cinzaclaro);
    padding: 1rem;
}
.header-observacao-professor{
    align-items: center;
    display: flex;
}
.header-observacao-professor h2{

    font-weight: 700;
    color: var(--cinzafonte);
    font-size: 1.5rem;
}


/* CONTAINER - TOTAL FLAGS */

.container-total-flags{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 1rem 0rem;
    gap: 0.5rem;

}
.container-total-flags .flag{

    padding: 1.5rem;
    border-radius: 10px;
    background-color: transparent;
    width: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-total-flags .flag-nivel1{
     background-color: #b7d5e5;
     color: #4698c4;
 }

.container-total-flags .flag-nivel2{
    background-color: #bdecb6;
    color: #56c745;
}

.container-total-flags .flag-nivel3{
    background-color: #fdfd96;
    color: #cccc23;
}

.container-total-flags .flag-nivel4{
    background-color: #f7a156;
    color: #eb8124;
}

.container-total-flags .flag-nivel5{
    background-color: #ff6961;
    color: #f13126;
}

.container-total-flags .flag-nivel6{
    background-color: #7d5b8c;
    color: #622c79;
}



/*FIM*/



.card-flags{
    border-radius: 15px;
    width: 400px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cinzamaisclaro);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.063);
}
.card-flags .header-card{
    display: flex;
    border-radius: 15px;
    padding: .5rem  0rem;
    height:15%;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow:ellipsis;
    align-items: center;
    gap: 0.5rem;
}

.card-flags .content-card-flags{
    display: flex;
    align-items: center;
    padding: .5rem 0rem;
    width: 100%;
    height: 65%;
}
.card-flags .content-card-flags .text-desc-flag{
   width: 70%;
   
   overflow-y: auto;
   display: flex;
   flex-direction: column;
}
.card-flags .footer-card-flags .content-flag{
   width: 100%;
   display: flex;
}
.card-flags .footer-card-flags .content-flag .flag{
   border-radius: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0.5rem;
   background-color: transparent;
}
.card-flags .footer-card-flags .content-flag .flag-nivel1{
    background-color: #b7d5e5;
    color: #4698c4;
}
.card-flags .footer-card-flags .content-flag .flag-nivel1 p{
   
   color: var(--cinzafonte);
}

.card-flags .footer-card-flags .content-flag .flag-nivel2{
    background-color: #bdecb6;
    color: #56c745;
}
.card-flags .footer-card-flags .content-flag .flag-nivel2 p{
   
   color: var(--cinzafonte);
}

.card-flags .footer-card-flags .content-flag .flag-nivel3{
    background-color: #fdfd96;
    color: #cccc23;
}
.card-flags .footer-card-flags .content-flag .flag-nivel3 p{
   
   color: var(--cinzafonte);
}
.card-flags .footer-card-flags .content-flag .flag-nivel4{
    background-color: #f7a156;
    color: #eb8124;
}
.card-flags .footer-card-flags .content-flag .flag-nivel4 p{
   color: black;
}
.card-flags .footer-card-flags .content-flag .flag-nivel5{
    background-color: #ff6961;
    color: #f13126;
 }
 .card-flags .footer-card-flags .content-flag .flag-nivel5 p{
    color: black;
 }
 .card-flags .footer-card-flags .content-flag .flag-nivel6{
    background-color: #7d5b8c;
    color: #622c79;
 }
 .card-flags .footer-card-flags .content-flag .flag-nivel6 p{
    color: black;
 }

.card-flags .footer-card-flags{
    display: flex;
    width: 100%;
    height: 20%;
}
.container-no-observacoes{
    display: flex;
    justify-content: center;
    text-align: center;
    margin:0 auto;
}
@media (max-width:720px){
    .container-total-flags .flag{

        width: 50%;
    
    }
    .swiper-button-prev{
        display: none;
        
    }
    .swiper-button-next{
        display: none;

    }
}
