/* HOME */



.destaque-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 340px !important;
    padding: 2rem;
}

.destaque-card:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 340px !important;
    padding: 2rem;
    color: var(--cinzafonte);
    background-color: var(--cinzaclaro);
}

.destaque-card:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 340px !important;
    padding: 2rem;
    color: var(--cinzaclaro);
    background-color: var(--azulnavbar);
}

.destaque-card:nth-child(3) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 340px !important;
    padding: 2rem;
    color: var(--cinzafonte);
    background-color: var(--cinzaclaro100);
}

.esquerda-destaque {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.esquerda-destaque h1 {
    font-weight: bold;
    font-size: 3rem;
}

.destaque-card h1,
small:first-child {
    margin-bottom: 1rem;
}

.saiba-mais-btn {
    font-family: 'Poppins';
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
    padding: 0.5rem 2.5rem;
    font-weight: bold;
    border-radius: 20px;
    color: var(--cinzamaisclaro);
    background-color: var(--azulnavbar);
}

.cards-eventos {
    overflow: hidden;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 0;
    color: var(--cinzafonte);
    width: 100%;
    /*tirar isso aq pros cars ficarem do tamanho certo*/
}

.arrumar-cards {
    display: flex;
    flex-direction: row;
}

.evento-card {
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 15px;
    height: 200px !important;
    min-width: 260px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);

}
.evento-card .content-evento-card{
    color: var(--cinzafonte);
}

.evento-card .content-evento-card h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.evento-card .content-evento-card small{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.evento-card .footer-evento-card{
    display: flex;
    justify-content: right;
}
.evento-card .footer-evento-card button {
    color: var(--cinzafonte);
    padding: 1rem;
    justify-content: right;
    background-color: var(--cinzaclaro);
    border-radius: 15px;
    border-style: none;
    font-weight: bold;
    cursor: pointer;
}
