.area-chat{
    width: 100%;
    display: flex;
}
.nav-chat{
    position: fixed;
    background-color:#f7f7f7af;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 0px 20px;
    width: 100%;

    height: 60px;
    gap: 1rem;
    align-items: center;
    display: flex;
}
.nav-chat img{
    background-color: #163677;
    width:40px;
    margin-right:10px;
    border-radius: 51%;
}
.nav-chat .botao-contato-abrir{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    display: none;
}
.name-user-chat{
    font-size: 1.25rem;
    
    color:var(--cinzafonte);
}

.caixa-chat{
    width: 75%;
    background-color: #f3f3f3;
    height: 80vh;
    float: right;
}

.caixa-chat2{
    width: 100%;
    background-color: #f3f3f3;
    height: 80vh;
    float: right;
    
    
}

.caixa-mensagens{
    width: 100%;
    height: 80vh;
    padding: 25px ;
    padding-top: 76px;
    overflow-y: auto;
    background-color: transparent;

    display: flex;
    flex-direction: column;
}

#mensagens{
    margin-top: 0vh;
}
.container-no-message{
    user-select: none;
    -webkit-user-select: none;
    /* width: 90%; */
    
    display: flex;
    justify-content: center;
    
    align-items: center;
    flex-direction: column;

    
}
.container-no-message i{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 10rem;
}
/*FIM*/



/* FOMATAÇÃO DAS MENSAGENS */

.message-row{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 70%;

}

.name-user{

}
.text-message{
    padding: 14px 20px;
    font-size: 1rem;
}
.date-message{
    display: none;
    font-size: 0.75rem;
}

/* REMENTE */
.remetente{
    justify-items: end;
    justify-content:end ;
}
.destinatario{
    justify-content: start;
    justify-items: start;
}


.remetente .text-message{
    background-color: #163677;
    color: #f3f3f3;
    border-radius: 15px 15px 0px 15px;
    box-shadow: 5px 5px 10px var(--cinzaBackground);
}

/* FIM */

/* DESTINATARIO */


.destinatario .text-message{
    background-color: var(--cinzaBackground);
    color:#1d1d1d;
    border-radius: 15px 15px 15px 0px;
    box-shadow: 5px 5px 10px var(--cinzaBackground);
}


/* FIM  */


/* FIM */



/* FORM PARA ESCREVER MENSAGEM */

.form-mensagem{
    width: 100%;
    padding: 0 20px;
    align-items: center;
    height: 10vh;
    display: grid;
    background-color:#f3f3f3;
}
.box-submit-message{
    width:100%;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #dcdcdc;
}
.caixa-mensagem{
    
    width: 90% ;
    background-color: transparent;
    border: none;
    outline: none;
    
    
}

.botao-enviar{
    background-color: #163677;
    padding: 5px 25px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    color:#f3f3f3;
    font-size: 1rem;
}

/* FIM */





/*Titulo menu lateral*/

.header-menu-lateral-title{
    
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--cinzaUltraClaro);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

}


.header-menu-lateral-title h3{
    color:var(--cinzafonte);
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
}
.header-menu-lateral-title a{
    display:none;
    color: #1d1d1d;
    

}

.container-box-search{
    
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 0.5rem 0rem;
    
}
.container-box-search form{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items:center;
    gap: 1rem;
    box-shadow: 0 0px 30px var(--cinzaBackground), 0 0 0 0px #ffffffeb;
}
.container-box-search input{
    
    outline: none;
    border: none;
    padding: 0.5rem 0.5rem;

    color: var(--cinzafonte);
    background-color: transparent;
    
    
}
.container-box-search form button{
    border-radius: 10px;
    outline: none;
    border: none;
    align-items: center;
    background-color: var(--azulumpoucosaturado);
    padding: 0.5rem 0.5rem;
    color: var(--cinzamaisclaro);
    
}
.container-box-search form .btn-search-active{
    background-color: var(--azulbtnsair);

}
.result-search-user{
    display: none;
}
.result-search-user-active{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: tomato;
}




/*fffffffim*/

/* MENU LATERAL - BOTAO PARA ENTRAR EM UMA CONVERSA */

.menu-lateral{
    width: 25%;

    display: flex;
    flex-direction: column;
    
    height:90vh;
    /* background: var(--azulumpoucosaturado); */
    float: left;

    
}
.container-area-conversa{
    display: flex;
    height: 80vh;
    margin-top: 0vh;
    padding-top: 0vh;
    flex-direction: column;
    /* border-radius: 1.5rem 1.5rem 0rem 0rem; */
    
    background-color: var(--cinzaUltraClaro);
    box-shadow: 5px 5px 10px var(--cinzaBackground);
}
.container-area-conversa ul{
    height: 60vh;
    overflow-y:auto;
}

.area-botao-conversa{

    padding: 10px 20px 10px 10px;
}
.header-container-area-conversa{
    width: 100%;
    padding: 10px 20px 10px 20px;
    
}
.header-container-area-conversa h3{
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    
}
.area-botao-conversa .botao-contato{

    
    display:flex;
    align-items: center;
    gap: 1rem;

    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;

    padding: 0px 10px;

    width: 100%;
    color: #1d1d1d;
    font-size: 1.1rem;
    

}
.area-botao-conversa .botao-contato img,.img{

    width: 40px;
    font-size: 40px;
    color:var(--cinzafonte);
    

}
.container-texts-conversa{
    width:100%;
    text-align:start;
}
.title-conversa{
    font-weight: 600;
    letter-spacing: 1px;
    color:var(--cinzafonte);
    align-items: center;
}
.data-conversa{
    font-size: .75rem;
}
.text-conversa p{
    display: inline-block;
    font-size: .75rem;
    width:100px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow:ellipsis;
}
.footer-area-conversa{
    display: flex;
    
    height: 10vh;
    width: 100%;
    color:var(--cinzamaisclaro);
    background-color: var(--cinzaUltraClaro);
    margin-top:0vh;
    align-items: center;
    justify-content: end;
    padding: 20px;
    

}
.footer-area-conversa button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.7rem;
    border-radius: 50px;
    text-decoration: none;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--azulumpoucosaturado);
    color: var(--cinzamaisclaro);
    
    align-items: center;
    
    box-shadow: 5px 5px 10px var(--cinzaBackground);

}
/* FIM */

.menu-lateral-active{
     display: block;
}

/* FIM */

/* MODAL NOVA CONVERSA */
.modal-nova-conversa{
    border-radius: 15px;
    z-index:1;
    display: none;
    position: absolute;
    padding: 1rem;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cinzamaisclaro);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.063);


}
.btn-close-modal-nova{
    outline: none;
    border: none;
    cursor: pointer;
}
.container-checklist{
    display: flex;
    width: 100%;
    height: 65vh;
    overflow-y: auto;
    flex-direction: column;
    padding:0rem;
}

.container-checklist .list-turma{
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    font-weight: 500;
    padding:0.5rem ;
    
}
.check-options-all{
    
    margin-bottom:1rem ;
    
}

.container-checklist input[type="checkbox"]{
    cursor: pointer;
    
    
}
.container-checklist label{

    letter-spacing: 0.5px;

    
}


.container-checklist .list-turma .ul-checkbox-options{
    margin-left: 0rem;
    text-decoration: none;
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    
}

.ul-checkbox-options li{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    
}
.ul-checkbox-options li .list{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}
.ul-checkbox-options li:hover{
    background-color: #dcdcdc;
    
}
.footer-modal-nova-conversa{
    width: 100%;
    
}
.footer-modal-nova-conversa .btn-mensagem-agrupada{
    width: 100%;
    display: block;
    outline: none;
    border: none;
    background-color: var(--azulumpoucosaturado);
    padding: .5rem 0rem;
    text-align: center;
    color: var(--cinzamaisclaro);
    border-radius: 5px;
    text-decoration: none;

}
.form-submit-message-agrupada{
    display: none;
    margin-top: .5rem;
    justify-content: space-between;
    width: 100%;
    
}

.form-submit-message-agrupada input{
    width: 80%;
    outline: none;
    border-radius: 0px;
    padding: 0rem 1rem;
    border:none;
    background-color: var(--cinzaclaro100);
}
.form-submit-message-agrupada button{
    background-color: var(--azulumpoucosaturado);
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    color:var(--cinzamaisclaro);
}

/*CHECKBOXES */

.check-options-all{
}



/*FIM*/




/*FIM*/
/* MEDIA */

@media (max-width:720px){
    .menu-lateral-active{
        display: none;
   }
    .menu-lateral{
        
        width: 100%;
        z-index: 1;
    }
    .caixa-chat{
        width: 100%;
        position: absolute;
        z-index: 0;
    }
    .caixa-mensagem{
    
        width: 70% ;
        background-color: transparent;
        border: none;
        outline: none;
        
        
    }
    .nav-chat .botao-contato-abrir{
        display: block;
    }
    .modal-nova-conversa{
        width: 90%;
    }

}
@media(min-width:720px){
    .menu-lateral{
        width: 25%;

    }
    .caixa-chat{
        width: 75%;
    }
}
