
/* Container */

.container-main {
    color: var(--cinzafonte);
    flex-wrap: wrap;
    /* padding-top: 10vh; */
    padding-bottom: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    min-height: 100vh;
    background-color: var(--cinzamaisclaro);
}

.top-section {
    position: relative;
    margin-top: 0px;
    padding-left: 30px;
    margin-bottom: 35px;
    width: 100%;
    align-items: center;
    padding: 20px;
    display: flex;
    background-color: var(--cinzamaisclaro);
    float: left;
    flex-direction: row;
}

.voltar {
    padding: 0px 5px;
}

.voltar a {
    color: var(--cinza);
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 400;
}

.voltar a span {
    margin-right: 10px;
    transition: 0.7s ease;
}

.voltar a:hover span {
    transform: translateX(-20%);
}

.titulo-cadastrar {
    padding: 0px 20px;
}

.titulo-cadastrar h2 {
    color: var(--cinza);
    font-size: 1.5rem;
}



