/* FORM */

.area-cadastro {
    background-color: #dce8f1;
}


/* INPUT-FILE-CUSTOM */

input[type="file"] {
    display: none;
}

.h2Adicionar {
    line-height: 50px;
}

.carregar-imagem-pub {
    cursor: pointer;
    color: var(--cinzaclaro);
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 40px;
    background-color: var(--azulbtnsair);
}


/* ACABOU */

.main-section {
    margin: 0 auto;
    width: 80%;
}

.formulario {
    width: 100%;
    padding: 30px;
    border-radius: 18px;
    background-color: var(--cinzamaisclaro);
}

.main-section .formulario .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formulario .user-details .input-box {
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}

.formulario .user-details .input-boxwidth30 {
    margin: 20px 0 12px 0;
    width: calc(100% / 3 - 20px);
}

.user-details .input-box-width30 input {
    padding: 15px 10px;
    font-family: 'Poppins';
    border-radius: 18px;
    background-color: var(--cinzamaisclaro);
    outline: 0px;
    border: 1px solid var(--cinzaclaro100);
    width: 100%;
}

.user-details .input-box-width30 h2 {
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.formulario .user-details .input-box-width100 {
    margin: 20px 20px 12px 20px;
    width: 100%;
}

.user-details .input-box-width100 input {
    padding: 15px 10px;
    font-family: 'Poppins';
    border-radius: 18px;
    background-color: var(--cinzamaisclaro);
    outline: 0px;
    border: 1px solid var(--cinzaclaro100);
    width: 100%;
}

.user-details .input-box-width100 .text-area {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 35px;
    border-radius: 15px;
    font-family: 'Poppins';
    border-radius: 18px;
    background-color: var(--cinzamaisclaro);
    outline: 0px;
    border: 1px solid var(--cinzaclaro100);
    width: 100%;
}

.user-details .input-box-width100 h2 {
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.user-details .input-box input {
    padding: 15px 10px;
    font-family: 'Poppins';
    border-radius: 18px;
    background-color: var(--cinzamaisclaro);
    outline: 0px;
    border: 1px solid var(--cinzaclaro100);
    width: 100%;
}

.user-details .input-box h2 {
    color: var(--cinza);
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.opcao-consulta {
    padding: 6px;
    background-color: var(--branco);
    border-bottom-style: solid;
    border-bottom-color: var(--cinza);
    border-bottom-width: 1px;
}

.opcao-consulta2 {
    padding: 6px;
    background-color: var(--branco);
    border-bottom-style: solid;
    border-bottom-color: var(--cinza);
    border-bottom-width: 1px;
}

.link-consulta {
    text-decoration: none;
    color: var(--cinza);
    font-weight: bold;
}

.opcao-consulta:hover .link-consulta {
    background-color: var(--cinzaclaro);
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.texto-consulta {
    text-decoration: none;
    color: var(--cinza);
    font-weight: bold;
}

.erro-form {
    border-style: solid !important;
    border-width: 1px !important;
    border-color: brown !important;
    color: brown;
}

.label-erro {
    color: brown;
    font-size: 14px;
    display: none;
}


/* FORM MULTI STEPS */
.container-form-pages{
    overflow: hidden;
    padding: 50px 0px 40px 0px;
}
.container-steps-form{
    background-color: var(--branco);
    
    padding: 50px 0px 40px 0px;
    
    width: 100%;
    align-items: center;
}

.title-page-form{
    align-items: center;
    text-align: center;
    margin: 0 0 40px 0;
}

.container-steps-form form{
    display: flex;
    flex-direction: row;
    gap: 0rem;
   
    width: 400%;
}
.page-form{
    align-items: center;
    width:25%;
    padding: 0px;
    transition: margin-left 0.3s ease-in-out;

}
.page-form .input-box{
    padding: 20px 20px 12px 20px;
}
.page-form .input-box-width30{
    padding: 20px 20px 12px 20px;
}
.page-form .input-box-width100{
    padding: 20px 20px 12px 20px;
}

.btn-page-prev{
    width: calc(100%/2);
    margin-right: 3px;
    background-color: var(--azulbtnsair);
    font-size: 1rem;
    color: var(--cinzamaisclaro);
    text-align: center;
}
.btn-page-next{
    width: calc(100%/2);
    margin-left: 3px;
    text-align: center;
    font-size: 1rem;
    
}

/* STYLE DO CONTEUDO DOS FORMS */

.btns-link-step-form{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
}

.btn-link-step{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}

.btn-link-step .button .btn-page-next{
    width: 100%;
}

.cadastrar-prof-step div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.input-link-step{
    display: flex;
    flex-direction: row;
    padding: 0 !important;
}

.input-link-step input{
    bottom: -20px;
}



.btn-nav-exit {
    cursor: pointer;
    font-family: 'Poppins';
    text-decoration: none;
    background-color: transparent;
    border-radius: 15px;
    font-weight: bold;
    color: var(--cinza);
    border: 3px solid var(--cinza);
    padding: 10px 40px;
    transition: 0.3s;
    transform: translateY(0px);
}

.btn-nav-exit:hover {
    background-color: var(--azulbtnsair);
    color: var(--cinzamaisclaro);
    transform: translateY(0px);
}

.progress-bar{
    display: flex;
    width: 300px;
    margin: 0 auto;
}
.progress-bar .steps{
    position: relative;
    text-align: center;
    /* width: 100%; */
    align-items: center;
    margin: auto auto;
}
.progress-bar .steps p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.progress-bar .steps p.actived{
    color:var(--azulumpoucosaturado);
}
.progress-bar .steps .bullet{
    position: relative;
    height: 30px;
    width: 30px;
    border: 2px solid var(--cinza);
    display: inline-block;
    border-radius: 50%;
    font-weight: 500;
    font-size: 1rem;
    line-height: 25px;
    transition: 0.2s;
}

.progress-bar .steps .bullet.actived{
    border-color:var(--azulumpoucosaturado);
    background: var(--azulumpoucosaturado);
    color: var(--cinzamaisclaro);
}
.progress-bar .steps:last-child .bullet:before,
.progress-bar .steps:last-child .bullet:after{
    

    display: none;
}
.progress-bar .steps .bullet:before,
.progress-bar .steps .bullet:after{
    

    position: absolute;
    content: '';
    bottom: 11px;

    right: -100px;
    height: 3px;
    
    width: 80px;
    background: var(--branco);
}
.progress-bar .steps .bullet.actived:after{
    
    background: var(--azulumpoucosaturado);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;

}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }

}

.progress-bar .steps span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.progress-bar .steps .bullet.actived span{
    display:none;
}
.progress-bar .steps .bullet-check{

    position:absolute;
    left: 50%;
    top:70%;
    font-size:15px ;
    transform: translate(-50%,-50%);
    display: none;
}
.progress-bar .steps .bullet-check.actived{

    display:block;
    color:var(--cinzamaisclaro);
}

/* sfreergrgg */


.progress-bar .steps-form2{
    position: relative;
    text-align: center;
    /* width: 100%; */
    align-items: center;
    margin: auto auto;
}
.progress-bar .steps-form2 p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.progress-bar .steps-form2 p.actived{
    color:var(--azulumpoucosaturado);
}
.progress-bar .steps-form2 .bullet-form2{
    position: relative;
    height: 30px;
    width: 30px;
    border: 2px solid var(--cinza);
    display: inline-block;
    border-radius: 50%;
    font-weight: 500;
    font-size: 1rem;
    line-height: 25px;
    transition: 0.2s;
}

.progress-bar .steps-form2 .bullet-form2.actived{
    border-color:var(--azulumpoucosaturado);
    background: var(--azulumpoucosaturado);
    color: var(--cinzamaisclaro);
}
.progress-bar .steps-form2:last-child .bullet-form2:before,
.progress-bar .steps-form2:last-child .bullet-form2:after{
    

    display: none;
}
.progress-bar .steps-form2 .bullet-form2:before,
.progress-bar .steps-form2 .bullet-form2:after{
    

    position: absolute;
    content: '';
    bottom: 11px;

    right: -100px;
    height: 3px;
    
    width: 80px;
    background: var(--branco);
}
.progress-bar .steps-form2 .bullet-form2.actived:after{
    
    background: var(--azulumpoucosaturado);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;

}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }

}

.progress-bar .steps-form2 span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.progress-bar .steps-form2 .bullet-form2.actived span{
    display:none;
}
.progress-bar .steps-form2 .bullet-check-form2{

    position:absolute;
    left: 50%;
    top:70%;
    font-size:15px ;
    transform: translate(-50%,-50%);
    display: none;
}
.progress-bar .steps-form2 .bullet-check-form2.actived{

    display:block;
    color:var(--cinzamaisclaro);
}

/* dfgrererregdsddllll */


.progress-bar .steps-form3{
    position: relative;
    text-align: center;
    /* width: 100%; */
    align-items: center;
    margin: auto auto;
}
.progress-bar .steps-form3 p{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}
.progress-bar .steps-form3 p.actived{
    color:var(--azulumpoucosaturado);
}
.progress-bar .steps-form3 .bullet-form3{
    position: relative;
    height: 30px;
    width: 30px;
    border: 2px solid var(--cinza);
    display: inline-block;
    border-radius: 50%;
    font-weight: 500;
    font-size: 1rem;
    line-height: 25px;
    transition: 0.2s;
}

.progress-bar .steps-form3 .bullet-form3.actived{
    border-color:var(--azulumpoucosaturado);
    background: var(--azulumpoucosaturado);
    color: var(--cinzamaisclaro);
}
.progress-bar .steps-form3:last-child .bullet-form3:before,
.progress-bar .steps-form3:last-child .bullet-form3:after{
    

    display: none;
}
.progress-bar .steps-form3 .bullet-form3:before,
.progress-bar .steps-form3 .bullet-form3:after{
    

    position: absolute;
    content: '';
    bottom: 11px;

    right: -100px;
    height: 3px;
    
    width: 80px;
    background: var(--branco);
}
.progress-bar .steps-form3 .bullet-form3.actived:after{
    
    background: var(--azulumpoucosaturado);
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;

}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }

}

.progress-bar .steps-form3 span{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}
.progress-bar .steps-form3 .bullet-form3.actived span{
    display:none;
}
.progress-bar .steps-form3 .bullet-check-form3{

    position:absolute;
    left: 50%;
    top:70%;
    font-size:15px ;
    transform: translate(-50%,-50%);
    display: none;
}
.progress-bar .steps-form3 .bullet-check-form3.actived{

    display:block;
    color:var(--cinzamaisclaro);
}

/* END*/

/* AREA-EXIBIR CONSULTAS DO BANCO */

.container-controlers {
    width: 80%;
    margin: 2% auto;
    justify-content: center;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-card-link1 {
    background-color: var(--azulumpoucosaturado);
    border-radius: 18px;
    padding: 30px;
    color: var(--cinzaclaro);
    text-align: center;
    min-width: calc(90%/2);
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: 0.7s;
}

.content-card-link1:hover .btn-ver-dados-tabela {
    color: var(--azulumpoucosaturado);
}

.content-card-link1 .side-left h1 {
    font-size: 4rem;
}

.content-card-link1:hover {
    background-color: var(--cinzamaisclaro);
    color: var(--cinza);
    transform: translateY(5%);
}

.content-card-link2 {
    background-color: var(--cinzamaisclaro);
    padding: 30px;
    color: var(--cinza);
    text-decoration: none;
    border-radius: 18px;
    min-width: calc(90%/2);
    justify-content: space-between;
    display: flex;
    align-items: center;
    transition: 0.7s;
}

.content-card-link2 .side-left h1 {
    font-size: 5rem;
}

.btn-ver-dados-tabela {
    border: 0;
    cursor: pointer;
    background: transparent;
    font-size: 5rem;
    color: var(--cinzamaisclaro);
}

.btn-adicionar-aluno {
    border: 0;
    cursor: pointer;
    background: transparent;
    font-size: 5rem;
    color: var(--cinza);
}

.content-card-link2:hover {
    background-color: var(--cinzamaisclaro);
    color: var(--cinza);
    transform: translateY(5%);
}


/* ACABO */


/* Exibir Consulta */

.container-exibir-dados {
    width: 80%;
    min-height: 50vh;
    margin: 0 auto;
    background: var(--cinzamaisclaro);
    padding: 30px;
    border-radius: 18px;
    flex-direction: column;
    display: none;
    opacity: 0;
    transform: translateY(-30%);
    transition: 0.3s ease;
}

.container-exibir-dados::before {
    opacity: 0.5;
}

.container-exibir-dados::after {
    opacity: 1;
}

.box-titulo-bar-search {
    width: 100%;
    align-items: center;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.box-titulo-bar-search h1 {
    font-size: 1.5rem;
    color: var(--cinzafonte);
}

.box-search {
    padding: 10px;
    border-radius: 18px;
    background-color: var(--branco);
}

.box-search input[type=text] {
    outline: none;
    border: none;
    color: var(--cinzafonte);
    background-color: transparent;
}

.btn-search {
    margin-right: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.table-dados {
    width: 100%;
    overflow-x: auto;
}

.table-dados table {
    border-collapse: collapse;
    width: 100%;
}

.table-dados table thead tr {
    border-top: 1px solid var(--cinzaclaro100);
    border-bottom: 1px solid var(--cinzaclaro100);
}

.table-dados thead td {
    font-weight: 700;
}

.table-dados td {
    font-size: .9rem;
    padding: .5rem;
}


/* ACabo */


/* ACABOU O FORM*/
