.card-perfil{
    margin: auto 20%;
    box-shadow: 0rem 0.5rem 2rem 0.2 var(--cinzaclaro);
    /* padding: 3rem; */
    border-radius: 1rem;
    gap: 1rem;
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.perfil-modal-body{
    padding: 2rem;
    color: var(--cinzafonte);
}

.card-perfil img{
    margin: auto auto;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    background-color: var(--azulnavbar);
}

.card-perfil input{
    cursor: pointer;
    background-color: var(--azulnavbar);
    border: 0;
    padding: 1rem;
    border-radius: 2rem;
    color: var(--cinzamaisclaro);
    font-weight: bold;
}

.closeModalProfile {
    margin-top: 4px;
    margin-left: 57.5%;
    display: flex;
    justify-content: end;
    position: absolute;
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    /* ddfd */
  }
  
  .closeModalProfile:hover,
  .closeModalProfile:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .title-perfil-modal{
    display: flex;
    flex-direction: column;
  }


  .botoes-perfil-upload{
      display: flex;
      align-items: center;
      padding: 0rem;
      gap: 1rem;
      justify-content: center;
  }

  .botao-cadastrar-perfil{
      background-color: var(--azulumpoucosaturado);
      margin-top:2rem;
    width: 100%;
      border: 0;
    font-size: 14px;
    font-weight: 500;
      height: 40px;

      color: var(--cinzamaisclaro);
      border-radius: 10px;

      user-select: none;
      cursor: pointer;

      transition: 200ms;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .botao-cadastrar-perfil:hover{
      transform: scale(1.03);
      transition: 200ms;
  }