


/* MENU LATERAL */

/* Container */

.container-main {
    color: var(--cinzafonte);
    display: flex;
    flex-direction: column;
    margin-left: 240px;
    margin-top: 60px;
    transition: 200ms ease;
}

.top-section {
    margin-top: 0px;
    padding-left: 30px;
    margin-bottom: 35px;
    width: 100%;
    align-items: center;
    padding: 20px;
    display: flex;
    background-color: var(--cinzamaisclaro);
    float: left;
    flex-direction: row;
}

.voltar {
    padding: 0px 5px;
}

.voltar a {
    color: var(--cinza);
    font-size: 1.25rem;
    text-decoration: none;
    font-weight: 400;
}

.voltar a span {
    margin-right: 10px;
    transition: 0.7s ease;
}

.voltar a:hover span {
    transform: translateX(-20%);
}

.titulo-cadastrar {
    padding: 0px 20px;
}

.titulo-cadastrar h2 {
    color: var(--cinza);
    font-size: 1.5rem;
}






/* MENU MOBILE */

.nav-bar {
    position:fixed;
    z-index: 1;
    padding: 0 22px;
    width: 100%;
    height: 60px;

    background-color: var(--azulumpoucosaturado);
    display: flex;
    justify-content:space-between;
    align-items: center;

    top: 0;
}
.content-logo-btn{
    display: flex;
    align-items: center;
    color:var(--cinzamaisclaro);
    
    gap: 1.5rem;

}

.btn-nav-pc-open{
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo-img {
    text-align: center;
    align-items: center;
    width: 70px;
    display: flex;
}

.ul-area-btn {
    align-items: center;
    list-style: none;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}

.nav-li {
    align-items: center;
    display: flex;
}




/* MENU PC */

.sidebar {
    height: 100vh;
    width: 240px;
    background: var(--azulumpoucosaturado);
    padding: 6px 6px;
    position: fixed;
    border-left: solid 4px var(--azulumpoucosaturado);
    transition: 200ms;

    top: 0;
}



.sidebar .logo-content {
    margin-bottom: 40px;
}

.sidebar .logo-content i {
    font-size: 28px;
    font-weight: 400;
}

.logo-content .logo {
    color: var(--cinzamaisclaro);
    display: flex;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
}

.logo-content .logo .logo-name a img {
    width: 120px;
    font-size: 20px;
    font-weight: 400;
}

.close-mobile-navbar {
    display: none;
}

.sidebar #menu-btn {
    color: var(--cinzamaisclaro);
    position: fixed;
    left: 90%;
    top: 6px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-bottom: 100px;
}

.sidebar ul hr {
    border: 1px solid #9aa9b1;
}

.menu-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-color: #9da9b6;
    border-width: 1px;
}

.sidebar ul li {
    position: relative;
    width: 100%;
    list-style: none;
    list-style: none;
    line-height: 50px;
    transition: 200ms ease;
}

.sidebar ul li a {
    margin: 0.3rem;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--cinzaclaro100);
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    transition: 200ms ease;
}

.sidebar ul li .active-nav {
    border-radius: 10px;
    color: var(--branco);
    background-color: var(--azulbtnsair);
    font-weight: bold;
    transition: 200ms;
}

.sidebar ul li a:hover {
    border-radius: 5px;
    color: var(--cinzafonte);
    background-color: var(--cinzamaisclaro);
    font-weight: bold;
    transition: 200ms;
}

.sidebar ul li a span {
    margin-left: 2.5rem;
    font-size: 12px;
    line-height: 15px;
}

.sidebar ul li a i {
    width: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
}



/* MENU COMPACTO WEB */

.sidebar-compact {
    height: 100vh;
    width: 68px;
    background: var(--azulumpoucosaturado);
    padding: 6px;
    position: fixed;
    transition: 200ms ease;
}

.sidebar-compact .tooltip{
    display: none;
    
}


.sidebar-compact ul li a i {
    /* width: 10px; */
    position: relative;
    display: flex;
    justify-content: center;
}

.sidebar-compact ul li a {
    margin: 0.3rem;
    padding: 1rem;
    /* border-radius: 0px 20px 20px 0px; */
    color: var(--cinzaclaro100);
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    font-weight: bold;
    transition: 200ms ease;
}

.sidebar-compact ul li a:hover .tooltip{
    display: block;
    position: fixed;
    width: auto;

    z-index: 10000;

    left: 20px;

    background-color: var(--cinzamaisclaro);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 6%);

    padding: 0.5rem;
    border-radius: 5px;
}

@media (min-width: 720px) {
    .container-maior{
        transition: 200ms ease;
        margin-left: 68px !important;
    }
    
}


/* PROFILE MENU */

.profile {
    color: var(--cinzaclaro100);
    border: 0;
    background-color: var(--azulumpoucosaturado);

}
.profile .profile-details{
    background-color: var(--azulumpoucosaturado);
    /* padding: 0.2rem 0.5rem; */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    
    transition: 200ms;
}
.profile .profile-details img:hover{
    cursor: pointer;
}

.profile-details img {
    background-color: #042243;
    border-style: solid;
    border-width: 3px;
    border-color: var(--cinza);
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 20px;
}

.profile .profile-details .name-job {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.profile .profile-details .name-menu {
    font-size: 15px;
    font-weight: bold;
}

.profile .profile-details .job-menu {
    font-size: 8px;
    font-weight: 400;
}

.dropdown-menu-profile{
    position: absolute;
    background-color: var(--cinzafonte);
    color: var(--cinzamaisclaro);
    border-radius: 0.4rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.063);
    top: 52px;
    right: 35px;
    padding: 0.5rem 0;
    display: none;
}

.dropdown-menu-profile-active{
    display: block;
}

.dropdown-menu-profile .profile-details{
    background-color: var(--cinzaescuro);
    display: flex;
    padding: 0.4rem 1rem ;
    align-items: center;
    gap: 1rem;
}

.dropdown-menu-profile .profile-details .name-job{
    text-align: left;
    font-size: 0.5rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.dropdown-menu-profile .profile-details .name-menu{
    font-size: 0.8rem;
    font-weight: bold;
}

.dropdown-menu-profile .profile-details .name-job{
    font-size: 0.5rem;
    font-weight:300;
}

.dropdown-menu-profile .opcoes-drop-profile {
    display:flex;
    flex-direction: column;
    list-style: none;
}

.dropdown-menu-profile .opcoes-drop-profile i {
    font-size: 1.2rem;
}
.dropdown-menu-profile .opcoes-drop-profile .online-li{
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.dropdown-menu-profile .opcoes-drop-profile #alterar-imagem-perfil small{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.dropdown-menu-profile .opcoes-drop-profile #alterar-imagem-perfil small i{
    font-size: 14px;
    font-weight: 200;
}

.drop-profile-li a{
    padding: 0.5rem 1rem;
    color: var(--cinzamaisclaro);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.8rem;
}

.dropdown-menu-profile .opcoes-drop-profile .drop-profile-li:hover{
    background-color: var(--cinzaescuro);
    cursor: pointer;
    user-select:none;
}


.online-li{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 16px;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--azulumpoucosaturado);
  }
  

  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 14px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }