.conteudo-container-professor{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.informacoes-professor{
    width: 450px;
    background-color: var(--cinzamaisclaro);
    border-radius: 1rem;
    padding: 1rem;
}

.informacoes-professor small{
    display: flex;
}

.agenda-professor{
    background-color: var(--cinzamaisclaro);
    border-radius: 1rem;
    width: 100%;
}

.agenda-professor .container-agenda-large {
    width: auto !important;
    border-radius: 1rem;
}

.mini-perfil-professor{
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--cinzaBackground);

    display: flex;
    flex-direction: row;

    gap: 1rem;
    align-items: center;
}

.mini-perfil-professor img{
    object-fit: cover;

    height: 100px;
    width: 100px;

    border-radius: 50%;
}

.detalhes-professor{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}